<section class="vh-100 m-n3" style="background-color: #508bfc">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong mt-n5 bg-light" style="border-radius: 1rem">
          <div class="card-body p-5 text-center">
            <h3 class="mb-5">Sign in</h3>
            <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
              <mdb-form-control class="form-outline mb-4">
                <input
                  mdbInput
                  type="email"
                  name="email"
                  id="emailInput"
                  class="form-control form-control-lg"
                  [(ngModel)]="email"
                />
                <label mdbLabel class="form-label" for="emailInput"
                  >Email</label
                >
              </mdb-form-control>
              <mdb-form-control class="form-outline mb-4">
                <input
                  mdbInput
                  name="password"
                  type="password"
                  id="passwordInput"
                  class="form-control form-control-lg"
                  [(ngModel)]="password"
                />
                <label mdbLabel class="form-label" for="emailInput"
                  >Password</label
                >
              </mdb-form-control>
              <button class="btn btn-primary btn-lg btn-block" type="submit">
                Login
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
