<form [formGroup]="filterForm">
  <table class="table table-hover table-responsive align-middle mt-n3">
    <thead class="table-info">
      <tr>
        <th scope="col" class="id-width">
          <mdb-form-control>
            <input
              mdbInput
              type="text"
              id="nameFilter"
              class="form-control"
              formControlName="idFilter"
            />
            <label mdbLabel class="form-label" for="nameFilter">ID</label>
          </mdb-form-control>
        </th>
        <th scope="col" class="name-width">
          <mdb-form-control>
            <input
              mdbInput
              type="text"
              id="nameFilter"
              class="form-control"
              formControlName="nameFilter"
            />
            <label mdbLabel class="form-label" for="nameFilter">NAME</label>
          </mdb-form-control>
        </th>
        <th scope="col" class="salary-width">
          <mdb-form-control>
            <input
              mdbInput
              type="text"
              id="salaryFilter"
              class="form-control"
              formControlName="salaryFilter"
            />
            <label mdbLabel class="form-label" for="salaryFilter"
              >SALARY($)</label
            >
          </mdb-form-control>
        </th>
        <th scope="col" class="email-width">
          <mdb-form-control>
            <input
              mdbInput
              type="text"
              id="emailFilter"
              class="form-control"
              formControlName="emailFilter"
            />
            <label mdbLabel class="form-label" for="emailFilter">EMAIL</label>
          </mdb-form-control>
        </th>
        <th scope="col" class="team-width">
          <mdb-form-control>
            <input
              mdbInput
              type="text"
              id="teamFilter"
              class="form-control"
              formControlName="teamFilter"
            />
            <label mdbLabel class="form-label" for="teamFilter">TEAM</label>
          </mdb-form-control>
        </th>
        <th scope="col" class="department-width">
          <mdb-form-control>
            <input
              mdbInput
              type="text"
              id="departmentFilter"
              class="form-control"
              formControlName="departmentFilter"
            />
            <label mdbLabel class="form-label" for="departmentFilter"
              >DEPARTMENT</label
            >
          </mdb-form-control>
        </th>
        <th scope="col" class="department-width">
          <mdb-form-control>
            <input
              mdbInput
              type="text"
              id="departmentFilter"
              class="form-control"
              formControlName="departmentFilter"
            />
            <label mdbLabel class="form-label" for="departmentFilter"
              >PAGE</label
            >
          </mdb-form-control>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let employee of filteredEmployees"
        (click)="goEmployeePage($event)"
      >
        <th scope="row" class="text-center">{{ employee.id }}</th>
        <td>{{ employee.name }}</td>
        <td class="text-center">{{ employee.salary }}</td>
        <td>{{ employee.email }}</td>
        <td class="text-center">{{ employee.team }}</td>
        <td class="text-center">{{ employee.department }}</td>
        <td class="text-center">
          <button mdbRipple type="button" class="btn btn-danger">
            Employee Page
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</form>
