.myContainer {
  border: 0.2px solid rgba(7, 6, 22, 0.185);
  background-color: rgba(175, 188, 230, 0.76);
  border-radius: 1em;
  color: rgba(0, 0, 0, 0.699);
}

// .myItemContainer {
//   background-color: rgba(226, 228, 241, 0.192);
// }
